.links {
    background-color: bisque;
    border: 1px solid black;
}

.footer,
.navbar-dark {
    background-color: darkseagreen;
}

.footer_nav_name {
    font-size: 25px;
    padding: 25px;
}

table {
    background-color: aliceblue
}

img {
    max-width: 100%;
    height: auto;
}

.navbar-nav li a,
h4 {
    color: black !important;
}

.form-group {
    max-width: 300px;
}

fieldset.scheduler-border {
    border: solid 1px #DDD !important;
    padding: 0 10px 10px 10px;
    border-bottom: none;
}

legend.scheduler-border {
    width: auto !important;
    border: 25px;
    font-weight: 600;
}
